h3{
  text-align: left;
}

h2 p{
  padding-top: 1vh;
  text-align: center;
}

.chapternum{
  font-size: 3em;
  font-family: monospace;
}

.woj{
  color: red;
}


.footer {
  margin-top: 3vh;
  padding-bottom: 1px ;
  width: 100%;
  line-height: 3; /* Vertically center the text there */
  background-color: #f5f5f5;
}
